body {
	background-color: black;
	color: white;
}

main {
	padding-left: 90px;
	padding-right: 90px;
}

.neb1 {
	width: 1000px;
	height: 10px;
	float: left;
	margin-right: 15px;
}

.neb2 {
	width: 50px;
	height: 50px;
	float: right;
}