nav {
	background: gray;
	height: 86px;
	width: 100%;
}

body {
	 background-image: url("outerspace_landscape.jpeg");
	 background-size: cover;
}

.container {
	height: 25px;
}

nav ul {
	display: inline-block;
	list-style: none;
	position: relative;
    top: -20px;
}

nav li{
	display: inline-block;
	text-align: right;
}

.logo {
	height: 50px;
	border: 1px solid black;
    margin-left: 79px;
    margin-top: 14px;
    border-radius: 50%;
}

.greenbox {
	margin-top: 387px;
	width: 600px;
	height: 300px;
	position: relative;
	border: 10px dotted green;
	margin-left: auto;
	margin-right: auto;
}

.spacecat, .spacedog {
	position: absolute;
	width: 200px;
 }

 .spacecat {
 	top: -90px;
 	left: -90px;
 }

 .spacedog {
 	bottom: -120px;
 	right: -60px;
 }